# Node modules
node_modules/

# Ignore compiled CSS files, including the final style.css
css/*.comp.css
css/*.concat.css
css/*.prefix.css
css/style.css  

# SASS cache files
.sass-cache/

# Log files
*.log

# npm debug files
npm-debug.log*

# Build output
dist/
